@import '~bootstrap/scss/bootstrap';

// TODO: Improve a style
$background-color: #6a6f77;
$white: #fff;

body {
  background-color: $background-color;
}

.box {
  align-items: center;
  border: 1px solid $white;
  display: flex;
  height: 80px;
  justify-content: center;
}
